SQLAlchemy == 0.8.3
transaction == 1.4.1
pyramid_chameleon == 0.1
pyramid_tm == 0.7
pyramid_debugtoolbar == 1.0.9
pyramid_exclog == 0.7
zope.sqlalchemy == 0.7.3
pyramid_simpleform == 0.6.1
cryptacular == 1.4.1
waitress == 0.8.7
